<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329610282399-ko2s66j02lfjqf3lkkf765cpns44p0a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329610282399-ko2s66j02lfjqf3lkkf765cpns44p0a3</string>
	<key>API_KEY</key>
	<string>AIzaSyClX0vCp-UpG9RAno76ORI6x8tOI5TEtVw</string>
	<key>GCM_SENDER_ID</key>
	<string>329610282399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.zippi.appmobdevsec</string>
	<key>PROJECT_ID</key>
	<string>zimble-b9f1c</string>
	<key>STORAGE_BUCKET</key>
	<string>zimble-b9f1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329610282399:ios:d5fac5164472c7ede5e9aa</string>
	<key>DATABASE_URL</key>
	<string>https://zimble-b9f1c.firebaseio.com</string>
</dict>
</plist>