<section class="breadcumb-area bg-img" style="background-image: url(assets/img/bg-img/hero1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">
                        <a [routerLink]="''"> Home <i class="fa fa-angle-right"></i></a> subscription
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
        <div class="UserArea">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                            <app-side-menu></app-side-menu>
                    </div>

                    <div class="col-sm-9">
                        
                        <div class="SubscriptionArea">
                            <ul>
                                <li>
                                    <div class="PlanBox">
                                        <article>
                                            <p>Free</p>
                                            <aside>
                                                <h4>$0</h4>
                                            </aside>
                                        </article>
                                        <figcaption>
                                            <ol>
                                                <li>Listing Posting: <span>Unlimited</span></li>
                                                <li>Listing Duration: <span>1 month</span></li>
                                                <li>Listing Featured: <span>Unlimited</span></li>
                                                <li>Listing Renew: <span>Unlimited</span></li>
                                                <li>Storage Space: <span>20 MB</span></li>
                                                <li>Video:<span><i class="fa fa-check-square-o"></i></span></li>
                                                <li>360 Virtual Tour:<span><i class="fa fa-check-square-o"></i></span></li>
                                                <li>Floor plans:<span><i class="fa fa-check-square-o"></i></span></li>
                                            </ol>

                                            <a href="#">Choose package</a>
                                        </figcaption>
                                    </div>
                                </li>

                                <li>
                                    <div class="PlanBox">
                                        <article>
                                            <p>Professional</p>
                                            <aside>
                                                <h4>$100</h4>
                                            </aside>
                                        </article>
                                        <figcaption>
                                            <ol>
                                                <li>Listing Posting: <span>Unlimited</span></li>
                                                <li>Listing Duration: <span>1 month</span></li>
                                                <li>Listing Featured: <span>Unlimited</span></li>
                                                <li>Listing Renew: <span>Unlimited</span></li>
                                                <li>Storage Space: <span>20 MB</span></li>
                                                <li>Video:<span><i class="fa fa-check-square-o"></i></span></li>
                                                <li>360 Virtual Tour:<span><i class="fa fa-check-square-o"></i></span></li>
                                                <li>Floor plans:<span><i class="fa fa-check-square-o"></i></span></li>
                                            </ol>

                                            <a href="#">Choose package</a>
                                        </figcaption>
                                    </div>
                                </li>

                                <li>
                                    <div class="PlanBox">
                                        <article>
                                            <p>Advanced</p>
                                            <aside>
                                                <h4>$200</h4>
                                            </aside>
                                        </article>
                                        <figcaption>
                                            <ol>
                                                <li>Listing Posting: <span>Unlimited</span></li>
                                                <li>Listing Duration: <span>1 month</span></li>
                                                <li>Listing Featured: <span>Unlimited</span></li>
                                                <li>Listing Renew: <span>Unlimited</span></li>
                                                <li>Storage Space: <span>20 MB</span></li>
                                                <li>Video:<span><i class="fa fa-check-square-o"></i></span></li>
                                                <li>360 Virtual Tour:<span><i class="fa fa-check-square-o"></i></span></li>
                                                <li>Floor plans:<span><i class="fa fa-check-square-o"></i></span></li>
                                            </ol>

                                            <a href="#">Choose package</a>
                                        </figcaption>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>        
    </section>
