<div class="CalendarBox">
    <h5>
        <i class="fa fa-angle-left fa-2x" aria-hidden="true" (click)="prevMonth()"></i>
        {{nowDate.format('MMMM YYYY')}}
        <i class="fa fa-angle-right fa-2x" aria-hidden="true" (click)="nextMonth()"></i>
    </h5>
    <table>
        <tbody>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>

            <tr *ngFor="let item of daysData">
                <td *ngFor="let day of item">
                    <div (click)="dateClick($event,day?.dates)" [class.green]="selectedDateArray.includes(day?.dates)">
                        <p>
                            {{day?.dates?.split("/")[2]}}
                        </p>
                    </div>



                </td>
            </tr>
        </tbody>
    </table>
</div>